@import "tailwindcss";

@theme {
  --color-green: #B2E5D5;
  --color-lavender: #E6D4EC;
  --color-offwhite: #F5F5F5;
}

@layer base {
  body {
    background-color: theme(color.offwhite);
    color: theme(color.gray.800);
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
